<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CRUD Locations</title>
    </head>
    <body>
        <table>
            <td>
                <section class="create-loc-reg">
                    <h4>Create location</h4>
                    <input mdInput class="inputs" type="number" name="ID" #idloc
                        placeholder="Reg id Location" #filterName>
                    <input mdInput class="inputs" type="text" name="NAME"
                        #nameloc
                        placeholder="Reg name Location" #filterName>
                    <input mdInput class="inputs" type="number" name="AREA"
                        #arealoc
                        placeholder="Reg area Location" #filterName>
                    <input mdInput class="inputs" type="number" name="PARENT ID"
                        #parentloc
                        placeholder="Reg parent id Location" #filterName>
                    <input mdInput class="inputs" type="text" name="INTERNALS
                        ID" #internalsloc
                        placeholder="Reg internal locations id(Example: 1,2,3)"
                        #filterName>
                    <button class="botons" (click)="getValues(idloc.value,
                        nameloc.value,
                        arealoc.value, parentloc.value, internalsloc.value)" (click)="reloadLocations()" > {{
                        dataButton }} </button>
                </section>
            </td>
            <td><br></td>
            <td>
                <section class="create-loc-reg">
                    <h4>Update location</h4>
                    <input mdInput class="inputs" type="number" name="ID" #idupd
                        placeholder="Reg id Location" #filterName>
                    <input mdInput class="inputs" type="text" name="NAME" #nameupd
                        placeholder="Reg name Location" #filterName>
                    <button class="botons" (click)="updateLocation(idupd.value,
                        nameupd.value)" (click)="reloadLocations()"> Update </button>
                </section>
            </td>
        </table>

        <!--
        <div>
            <button> <h1>CRUD LOCATIONS</h1> </button>
            <br>
        </div>
        <div>
            <h2>CREATE LOCATION </h2>

            <form action="">
                <label for="">ID:</label>  <input type="number">
                NAME: <input type="text">
                AREA(m2): <input type="number">
                PARENT ID: <input type="number">
                INTERNALS IDS: <input type="text">

            </form>

        </div>
        -->
    </body>
</html>