<!DOCTYPE html>
<html>
    <head>
        <style>
            p.uppercase {
              text-transform: uppercase;
            }
            
            p.lowercase {
              text-transform: lowercase;
            }
            
            p.capitalize {
              text-transform: capitalize;
            }
            </style>
    </head>
    <body>
        <div>
            <h1>ALL LOCATIONS</h1>
            <br>
            <div *ngFor="let location of locations">
                <h3> <p class="uppercase">{{ location.name}} </p></h3>
                <h5> <p> AREA: {{ location.area_m2}}m2 </p> </h5>
                <h5> <p> PARENT: {{ location.parent_loc}} </p> </h5>
                <h5> <p> INTERNAL LOCATIONS: {{ location.internal_loc}} </p> </h5>
                <br>

            </div>

        </div>
    </body>
</html>